<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Add Todo List {% endblock title %}
{% block content %}
<main class="container">
  <div>
    <h1>Create A New List</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
</main>
{% endblock content %}
