<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Add Todo List {% endblock title %}
{% block content %}
<main class="container">
  <div>
    <h1>Are You Sure</h1>
    <form method="post">
      {% csrf_token %}
      <button>Delete</button>
    </form>
  </div>
</main>
{% endblock content %}
