<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Edit A Todo List {% endblock title %}
{% block content %}
<main class="container">
  <div>
    <h1>Update List</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Update</button>
    </form>
  </div>
</main>
{% endblock content %}
