<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %} Todo Lists {% endblock title %} {% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <p><a href="{% url 'todo_list_create' %}">Create A New List</a></p>
    <p><a href="{% url 'todo_item_create' %}">Create A New Item</a></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Items</th>
        </tr>
      </thead>
      {% for todo_list in todos_list %}
      <tr>
        <td>
          <a href="{% url 'todo_list_detail' todo_list.id %}"
            >{{ todo_list.name }}</a
          >
        </td>
        <td>{{ todo_list.items.all|length }}</td>
      </tr>
      <tr></tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock content %}
